services:
    invoker:
        build:
            context: .
            target: dev
        volumes:
            - .:/app
        working_dir: /app
        tty: true
        stdin_open: true
        env_file:
            - .env
